# See http://help.github.com/ignore-files/ for more about ignoring files.

# Nx cache
.nx

# Docker volumes
docker/volumes

# environment files
.env
.env.*
!.env.example
!.env.*.example

# Husky
.husky/_


# Compiled Output
dist
tmp
/out-tsc

# Dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Nx Cache
.nx/cache
